.w-full {
    width: 100%;
}

.bg-white {
    background-color: white;
}

.bg-gray-300 {
    background-color: rgb(209 213 219);
}

.auth-container {
    margin-top: 200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.rouneded {
    border-radius: 0.25rem;
}

.text-center {
    text-align: center;
}

.p-4 {
    padding: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.d-flex {
    display: flex;
}

.h-6 {
    height: 1.5rem;
}

.h-8 {
    height: 2rem;
}

.items-center {
    align-items: center;
}

.ml-2 {
    margin-left: 0.5rem;
}
